
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-7 col-md-offset-3" style="background-color:whitesmoke">

    @using (@Html.BeginForm("onBooking", "booking"))
    {
        <br />
        <h1 style="margin-left:100px">&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;Book Now</h1>
        <br />
        <div>   &nbsp;</div>  @Html.Label("Depature airport")  <select name="sourceAirport">
            <option>Lahore</option>
            <option>Istanbul</option>
            <option>New York</option>
            <option>Dubai</option>
            <option>London</option>
            <option>Amsterdam</option>
            <option>Manhattan</option>



        </select>
        <div>  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;</div>
        @Html.Label(" Destination airport")
        <select name="destinstionAirport">
            <option>Lahore</option>
            <option>Istanbul</option>
            <option>New York</option>
            <option>Dubai</option>
            <option>London</option>
            <option>Amsterdam</option>
            <option>Manhattan</option>



        </select>
        <br />
        <br />

        <div> &nbsp;</div>  @Html.Label(" Depature Date")
      @Html.TextBox("date", null, new { type = "Date" })
        <br /><br />

         @Html.Label("Class")
        <select name="fclass">
            <option value="economy">economy</option>
            <option value="first">first</option>


        </select><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>@Html.Label("Quantity")   @Html.TextBox("isValid", null)

        <br /><br />
        <button type="submit" style="margin-left:190px" class="btn btn-success">Submit</button>
        <br /><br />
    }
</div>



