@model List<emiratesTermProject.Models.User>
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h1>Profile</h1>


<div style="background-color:white; height: 410px; width: 550px; margin-top: 70px; margin-left: 350px; padding: 60px; padding-left: 100px;padding-top:10px;">
    
       
       
        <div class="pull-left">Name:&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;</div>@Model[0].name<br /><br />

        <div class="pull-left">User Name:</div>@Model[0].userId<br /><br />

        <div class="pull-left">Password: &nbsp;</div>@Model[0].userPassword<br /><br />

        &nbsp;<div class="pull-left">Email:&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;</div> @Model[0].email<br />
        <br />


        &nbsp; <div class="pull-left">
            Age: &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;
        </div>@Model[0].age
        <br> <br />

        Sex:&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        @Model[0].sex
        


</div>





