@model List<emiratesTermProject.Models.historyClass>


@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>view user </h1>



<div class="box-body table-responsive no-padding">
    <table class="table table-hover">
        <tr>
            <th>TicketNo</th>
            <th>From</th>
            <th>To</th>
            <th>FlightNo</th>
            <th>Date</th>
            <th>Time</th>
            <th>Class</th>
            <th>Quantity</th>
            <th>Payment</th>
            <th>Valid</th>
        </tr>

        @foreach (var q in Model)
        {


            <tr>
                <td>@q.ticket.Id</td>
                <td>@q.sch.sourceAirport</td>
                <td>@q.sch.destinstionAirport</td>
                <td>@q.sch.flightNo</td>
                <td>@q.sch.date</td>
                <td>@q.sch.time</td>
                <td>@q.ticket.flightClass</td>
                <td>@q.ticket.quantity</td>
                <td>@q.ticket.payment</td>
                <td>@q.ticket.isValid</td>

            </tr>



        }
     
    </table>
</div>